*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: url("NETFLIX background image.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar img{
    height: 40px;
    position: absolute;
    top: 15px;
    left: 15px;
}

.container{
    background-color: rgba(0,0,0, 0.8);
    color: white;
height: fit-content;
width:fit-content;
padding: 30px;
border-radius: 4px;
}

h2{
    text-align: left;
    margin-bottom: 10px;
}

.input_box input{
background-color: rgb(88, 81, 81);
    height: 35px;
    width: 230px;
    margin: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
    padding-left: 7px;
    
}
button{
    background-color: rgb(243, 18, 18);
    color: white;
    border: none;
    border-radius: 3px;
    display: inline-block;
     height: 35px;
    width: 230px;
    margin: 5px;
    margin-top: 20px;
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.options a{
    text-decoration: none;
    color: white;
   
}

.options a:hover{
    text-decoration: underline;
    
}

.container_footer{
    font-size: 12px;
    margin-top: 10px;
}
.container_footer a{
    text-decoration: none;
}

.signup_text{
margin-top: 40px;
}

.signup_text a{
    text-decoration: none;
    color: white;
}
.signup_text a:hover{
    text-decoration: underline;

}